button{
  background-color: rgb(252, 117, 117);
  color:black;
  border:1px;
  border-style: solid;
  border-radius: 3px;
  border-color: black;
  padding:10px;
}

button:focus {
  outline: none;
}

.navbarContainer{
  display:flex;
  flex-direction: row-reverse;
}